.nav-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 5;

    .nav-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // border-bottom: 2px solid $colorGray;
        background-color: $colorMain;
        z-index: 20;
    }
}

.main-nav{
    @include container;
    @include flexbox;
    @include align-items(strech);
    padding-top: 10px;

    ul{
        @include flex-grow(2);
        @include flexbox;
        @include align-items(strech);
        font-size: 0;
        width: 50%;

        li{
            display: inline-block;
            font-size: 15px;
            padding: 10px;
        }
        .logo{
            background-color: $colorMainLght;
            padding: 0;

            a{
                color: $colorMain;
                font-size: 30px;
                font-family: "Arial Black", Gadget, sans-serif;
                font-weight: bold;
                letter-spacing: -5px;
                padding-left: 5px;
            }
        }
    }

    button{
        @include flex-grow(1);
        @include order(1);
        margin-right: 10px;
        padding: 10px;
        padding-top: 11px;
        font-size: 16px;
        color: #925ba0;
        background-color: $colorMainDark;
        border: 1px solid #925ba0;

        &:hover{
            color: $colorMainLght;
            background-color: $colorMain;
            border: 1px solid $colorMainDark;
        }
    }
    #themes{
        @include flex-grow(1);
        @include order(2);

        span{display: none}
    }
}

.login-container{
    position: absolute;
    left: 0;
    right: 0;
    top: -115px;
    padding-bottom: 20px;
    @include flexbox;
    background-color: #4f4c50;
    transition: all .5s ease-in;
    z-index: 10;

    &.open{
        top: 60px;
    }

    input{
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    #add-user,
    #login{
        @include flex-grow(1);
        @include flex-basis(0);
        display: inline-block;
        font-size: 0;

        & > *{

            &:nth-child(1){
                width: 100%;
            }
            &:not(:nth-child(1)){
                width: calc(50% - 5px);
                margin-right: 10px;
            }
            &:nth-child(3),
            &:nth-child(5){
                margin-right: 0;
            }
        }

    }

    #add-user{
        padding-left: 10%;
        margin-right: 41px;

        &::after{
            content: "";
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 50%;
            width: 1px;
            background-color: #625e63;
        }


    }
    #login{
        padding-right: 10%;
    }

    a.login{
        position: absolute;
        bottom: -25px;
        left: calc(50% - 50px);
        width: 100px;
        height: 25px;
        text-align: center;
        background-image: url('../img/login_bg.svg');

        i{
            font-size: 30px;
            line-height: 25px;
            color: #e2d7d7;
        }
    }
}
