.style4 html, .style4 body, .style4 div, .style4 span, .style4 applet, .style4 object, .style4 iframe,
.style4 h1, .style4 h2, .style4 h3, .style4 h4, .style4 h5, .style4 h6, .style4 p, .style4 blockquote, .style4 pre,
.style4 a, .style4 abbr, .style4 acronym, .style4 address, .style4 big, .style4 cite, .style4 code,
.style4 del, .style4 dfn, .style4 em, .style4 img, .style4 ins, .style4 kbd, .style4 q, .style4 s, .style4 samp,
.style4 small, .style4 strike, .style4 strong, .style4 sub, .style4 sup, .style4 tt, .style4 var,
.style4 b, .style4 u, .style4 center,
.style4 dl, .style4 dt, .style4 dd, .style4 ol, .style4 ul, .style4 li,
.style4 fieldset, .style4 form, .style4 label, .style4 legend,
.style4 table, .style4 caption, .style4 tbody, .style4 tfoot, .style4 thead, .style4 tr, .style4 th, .style4 td,
.style4 article, .style4 aside, .style4 canvas, .style4 details, .style4 embed,
.style4 figure, .style4 figcaption, .style4 footer, .style4 header, .style4 hgroup,
.style4 menu, .style4 nav, .style4 output, .style4 ruby, .style4 section, .style4 summary,
.style4 time, .style4 mark, .style4 audio, .style4 video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.style4 article, .style4 aside, .style4 details, .style4 figcaption, .style4 figure,
.style4 footer, .style4 header, .style4 hgroup, .style4 menu, .style4 nav, .style4 section {
  display: block;
}

.style4 body {
  line-height: 1;
}

.style4 ol, .style4 ul {
  list-style: none;
}

.style4 blockquote, .style4 q {
  quotes: none;
}

.style4 blockquote:before, .style4 blockquote:after,
.style4 q:before, .style4 q:after {
  content: '';
  content: none;
}

.style4 table {
  border-collapse: collapse;
  border-spacing: 0;
}

.style4 .nav-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  z-index: 5;
}

.style4 .nav-fixed .nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4e2658;
  z-index: 20;
}

.style4 .main-nav {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: strech;
  -moz-align-items: strech;
  -ms-align-items: strech;
  align-items: strech;
  padding-top: 10px;
}

.style4 .main-nav ul {
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-grow: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: strech;
  -moz-align-items: strech;
  -ms-align-items: strech;
  align-items: strech;
  font-size: 0;
  width: 50%;
}

.style4 .main-nav ul li {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}

.style4 .main-nav ul .logo {
  background-color: #c493d0;
  padding: 0;
}

.style4 .main-nav ul .logo a {
  color: #4e2658;
  font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  letter-spacing: -5px;
  padding-left: 5px;
}

.style4 .main-nav button {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin-right: 10px;
  padding: 10px;
  padding-top: 11px;
  font-size: 16px;
  color: #925ba0;
  background-color: #310246;
  border: 1px solid #925ba0;
}

.style4 .main-nav button:hover {
  color: #c493d0;
  background-color: #4e2658;
  border: 1px solid #310246;
}

.style4 .main-nav #themes {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.style4 .main-nav #themes span {
  display: none;
}

.style4 .login-container {
  position: absolute;
  left: 0;
  right: 0;
  top: -115px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #4f4c50;
  transition: all .5s ease-in;
  z-index: 10;
}

.style4 .login-container.open {
  top: 60px;
}

.style4 .login-container input {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.style4 .login-container #add-user,
.style4 .login-container #login {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  -ms-flex-basis: 0;
  flex-basis: 0;
  display: inline-block;
  font-size: 0;
}

.style4 .login-container #add-user > *:nth-child(1),
.style4 .login-container #login > *:nth-child(1) {
  width: 100%;
}

.style4 .login-container #add-user > *:not(:nth-child(1)),
.style4 .login-container #login > *:not(:nth-child(1)) {
  width: calc(50% - 5px);
  margin-right: 10px;
}

.style4 .login-container #add-user > *:nth-child(3), .style4 .login-container #add-user > *:nth-child(5),
.style4 .login-container #login > *:nth-child(3),
.style4 .login-container #login > *:nth-child(5) {
  margin-right: 0;
}

.style4 .login-container #add-user {
  padding-left: 10%;
  margin-right: 41px;
}

.style4 .login-container #add-user::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 1px;
  background-color: #625e63;
}

.style4 .login-container #login {
  padding-right: 10%;
}

.style4 .login-container a.login {
  position: absolute;
  bottom: -25px;
  left: calc(50% - 50px);
  width: 100px;
  height: 25px;
  text-align: center;
  background-image: url("../img/login_bg.svg");
}

.style4 .login-container a.login i {
  font-size: 30px;
  line-height: 25px;
  color: #e2d7d7;
}

.style4 #post-display {
  width: 80%;
  margin: 0 auto;
  width: calc(80% + 40px);
  margin-bottom: 40px;
  padding-bottom: 1px;
  background-color: #2e2b2f;
}

.style4 #post-display .write-post {
  margin: 20px;
}

.style4 #post-display .write-post i {
  padding-left: 10px;
}

.style4 #post-display span {
  display: none;
}

.style4 #post-display .post-container {
  margin: 0 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px #282529;
}

.style4 #post-display .post-container:last-child {
  margin-bottom: 0;
}

.style4 #post-display .post-container .post-profil {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #524d52;
  background-color: #282529;
}

.style4 #post-display .post-container .post-profil i {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
  font-size: 25px;
  border-radius: 3px;
  margin-right: 10px;
}

.style4 #post-display .post-container .post-profil p {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  font-size: 18px;
  color: #d7ceda;
  margin-right: 10px;
}

.style4 #post-display .post-container .post-profil .option-container {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  position: relative;
  margin-right: 10px;
}

.style4 #post-display .post-container .post-profil .option-container .user-option-icn {
  padding: 5px;
  border-radius: 50%;
  margin-right: 15px;
  padding: 5px 10px;
  font-size: 16px;
  color: #5b565d;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.style4 #post-display .post-container .post-profil .option-container .user-option-icn.open, .style4 #post-display .post-container .post-profil .option-container .user-option-icn:hover, .style4 #post-display .post-container .post-profil .option-container .user-option-icn:active {
  background-color: #524d52;
  color: #d7ceda;
  cursor: pointer;
}

.style4 #post-display .post-container .post-profil .option-container ul {
  position: absolute;
  top: 0;
  left: 40px;
  padding: 10px;
  background-color: #524d52;
  border-radius: 3px;
  box-shadow: 3px 3px 10px #141315;
}

.style4 #post-display .post-container .post-profil .option-container ul::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -16px;
  width: 0px;
  height: 0px;
  border-right: 8px solid #524d52;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

.style4 #post-display .post-container .post-profil .option-container ul li {
  margin-bottom: 10px;
}

.style4 #post-display .post-container .post-profil .option-container ul li:last-child {
  margin-bottom: 0;
}

.style4 #post-display .post-container .post-profil .option-container ul a {
  color: #d7ceda;
  border-bottom: 1px solid transparent;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.style4 #post-display .post-container .post-profil .option-container ul a:hover {
  color: #c493d0;
  border-bottom: 1px solid #c493d0;
}

.style4 #post-display .post-container .post-content {
  border-left: 1px solid #524d52;
}

.style4 #post-display .post-container .post-content .post-title {
  padding: 10px 0;
  color: #d7ceda;
  font-weight: bold;
  margin: 0 10px 10px;
  border-bottom: 1px dotted #464348;
}

.style4 #post-display .post-container .post-content .post-text {
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
  color: #8b878c;
  margin-bottom: 25px;
}

.style4 * {
  box-sizing: border-box;
}

.style4 h1 {
  padding: 60px 10% 40px;
  margin-bottom: 20px;
  font-size: 50px;
  color: #201e21;
  text-align: center;
  line-height: 34px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  background-color: #2c292d;
}

.style4 h1.blur {
  filter: blur(1rem);
}

.style4 h2 {
  color: #8e8d8e;
  font-size: 20px;
}

.style4 a {
  text-decoration: none;
}

.style4 .nav-fixed,
.style4 h1,
.style4 #post-display {
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  filter: blur(0);
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.style4 .nav-fixed.blur,
.style4 h1.blur,
.style4 #post-display.blur {
  -webkit-filter: blur(1rem);
  -moz-filter: blur(1rem);
  -o-filter: blur(1rem);
  filter: blur(1rem);
}

.style4 .logo,
.style4 button,
.style4 input,
.style4 select {
  border-radius: 3px;
}

.style4 button {
  padding: 5px;
  font-size: 18px;
  color: #f1baee;
  background-color: #4e2658;
  border: 1px solid #310246;
  transition: all .5s ease;
}

.style4 button:hover {
  background-color: #310246;
  border: 1px solid #f1baee;
}

.style4 select {
  border: 1px solid #925ba0;
  background-color: #310246;
  padding: 10px 10px 10px 3px;
  color: #925ba0;
  font-size: 16px;
  width: 100%;
}

.style4 select option {
  margin-bottom: 5px;
}

.style4 select option:last-child {
  margin-bottom: 0;
}

.style4 input {
  border: 1px solid #310246;
  background-color: #e2d7d7;
}

.style4 #user-card {
  display: none;
}

.style4 #user-display {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  visibility: hidden;
  transition: all .5s ease-in;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.style4 #user-display.open {
  visibility: visible;
  background-color: rgba(78, 38, 88, 0.7);
}

.style4 #user-display .card-container {
  position: relative;
  width: 50%;
  padding: 50px;
  border-radius: 3px;
  text-align: center;
  background-color: #e2d7d7;
}

.style4 #user-display .card-container a {
  position: absolute;
  right: 10px;
  top: 10px;
}

.style4 #user-display .card-container a i {
  font-size: 30px;
}

.style4 #user-display .card-container i {
  font-size: 150px;
  margin-bottom: 20px;
}

.style4 h2 {
  position: relative;
  padding: 20px 0;
}

.style4 h2.new-compte, .style4 h2.abonne {
  text-align: left;
}

.style4 .avatar {
  position: relative;
}

.style4 .avatar::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ec342e;
}

.style4 .avatar.online::after {
  background-color: #249e4a;
}

.style4 #user-card {
  padding: 40px 50px;
  background-color: #524d52;
  text-align: center;
}

.style4 #user-card button,
.style4 #user-card select {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

.style4 #user-card select {
  background-color: #e2d7d7;
  color: #310246;
  border-color: #310246;
}

.style4 #user-display {
  clear: both;
}

.style4 .add-post-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -300px;
  padding: 20px;
  background-color: #4e2658;
  transition: all .7s ease-in;
  z-index: 10;
}

.style4 .add-post-container.open {
  bottom: 0;
}

.style4 .add-post-container .write-post {
  position: absolute;
  font-size: 50px;
  right: 10px;
  top: -70px;
  opacity: .5;
  padding: 0 5px 0 10px;
}

.style4 .add-post-container .write-post:hover {
  opacity: 1;
}

.style4 .add-post-container #add-post {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.style4 .add-post-container #add-post select,
.style4 .add-post-container #add-post button[type=submit] {
  width: 200px;
  margin-bottom: 20px;
}

.style4 .add-post-container #add-post select {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
  margin-right: 10px;
  display: none;
}

.style4 .add-post-container #add-post button[type=submit] {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
  background-color: #310246;
}

.style4 .add-post-container #add-post button[type=submit]:hover {
  background-color: #4e2658;
}

.style4 .add-post-container #add-post #title {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
  width: 410px;
  margin: 0 20px 20px 0;
  padding: 10px;
}

.style4 .add-post-container #add-post #text {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  width: calc(100% - 10px);
  min-width: calc(100% - 10px);
  max-width: calc(100% - 10px);
}

body.style4 {
  position: relative;
  padding-top: 60px;
  background-color: #201e21;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}
